@using RealEstateAuction.Enums
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewData["Title"] = "Quản lý người dùng";
}
@model X.PagedList.IPagedList<User>
<h2>Quản lý thành viên</h2>
<hr />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên người dùng</th>
            <th scope="col">Email</th>
            <th scope="col" class="text-center">Ngày tháng năm sinh</th>
            <th scope="col" class="text-center">Số điện thoại</th>
            <th scope="col" class="text-center">Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count != 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td class="text-center">@(item.Dob.ToShortDateString())</td>
                    <td class="text-center">@item.Phone</td>
                    <td class="text-center">
                        <form action="/update-user" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            @if ((Status)item.Status == Status.Active)
                            {
                                <input type="hidden" name="status" value="@((int)Status.Deactive)" />
                                <button type="submit" class="btn btn-primary btn-sm" style="width: 150px">Đang hoạt động</button>
                            }
                            else
                            {
                                <input type="hidden" name="status" value="@((int)Status.Active)" />
                                <button type="submit" class="btn btn-danger btn-sm" style="width: 150px">Ngừng hoạt động</button>
                            }
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.PageCount > 1)
{
    <div class="pagination-container">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" href="@Url.Action("ManageMember", new { page = Model.PageNumber - 1 })">&lt;</a>
                </li>
                @for (int i = Model.PageNumber - 5; i <= Model.PageNumber + 5; i++)
                {
                    if (i > 0 && i <= Model.PageCount)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "disabled active" : "")">
                            <a class="page-link" href="@Url.Action("Managemember", new { page = i })">@i</a>
                        </li>
                    }
                }
                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link" href="@Url.Action("ManageMember", new { page = Model.PageNumber + 1 })">&gt;</a>
                </li>
            </ul>
        </nav>
    </div>
}
