@model RealEstateAuction.DataModel.AuctionDataModel
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewData["Title"] = "Tạo phiên đấu giá";
}
<h2>Tạo phiên đấu giá</h2>
<hr>
@using (Html.BeginForm("CreateAuction", "Staff", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-6">
            <div class="input-group mt-3">
                <span class="input-group-text">Tiêu đề <span style="color: red">*</span></span>
                <input asp-for=Title type="text" class="form-control" placeholder="Tiêu đề tối thiểu 15 ký tự.">
            </div>
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">Giá khời điểm (VNĐ)</span>
                <input asp-for=StartPrice type="text" class="form-control" placeholder="Giá khởi điểm phải lớn hơn 0."
                       pattern="[0-9]+(\.[0-9]+)?"
                       oninvalid="this.setCustomValidity('Vui lòng nhập số!')"
                       oninput="this.setCustomValidity('')" />
            </div>
            @Html.ValidationMessageFor(model => model.StartPrice, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">Giá kết thúc (VNĐ) <span style="color: red">*</span></span>
                <input asp-for=EndPrice type="text" class="form-control" placeholder="Giá kết thúc phải lớn hơn 0."
                       pattern="[0-9]+(\.[0-9]+)?" required
                       oninvalid="this.setCustomValidity('Vui lòng nhập số!')"
                       oninput="this.setCustomValidity('')" />
            </div>
            @Html.ValidationMessageFor(model => model.EndPrice, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">Diện tích (m2) <span style="color: red">*</span></span>
                <input asp-for=Area type="text" class="form-control" placeholder="Diện tích phải lớn hơn 0."
                       pattern="[0-9]+(\.[0-9]+)?" required
                       oninvalid="this.setCustomValidity('Vui lòng nhập số!')"
                       oninput="this.setCustomValidity('')" />
            </div>
            @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">Địa chỉ <span style="color: red">*</span></span>
                <input asp-for=Address type="text" class="form-control">
            </div>
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Mặt tiền (m) <span style="color: red">*</span>
                </span>
                <input asp-for=Facade type="text" class="form-control" placeholder="Mặt tiền phải lớn hơn 0."
                       pattern="[0-9]+(\.[0-9]+)?" required
                       oninvalid="this.setCustomValidity('Vui lòng nhập số!')"
                       oninput="this.setCustomValidity('')" />
            </div>
            @Html.ValidationMessageFor(model => model.Facade, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Hướng bất động sản <span style="color: red">*</span>
                </span>
                <input asp-for=Direction type="text" class="form-control" placeholder="Vui lòng nhập hướng"
                       pattern="[a-zA-Z\s\u0080-\uFFFF]+" required
                       oninvalid="this.setCustomValidity('Vui lòng nhập chữ và khoảng trắng!')"
                       oninput="this.setCustomValidity('')" />
            </div>
            @Html.ValidationMessageFor(model => model.Direction, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Mô tả <span style="color: red">*</span>
                </span>
                <textarea asp-for=Description rows="10" class="form-control"></textarea>
            </div>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Ảnh <span style="color: red">*</span>
                </span>
                <input asp-for=ImageFiles type="file" multiple class="form-control" accept="image/*">
            </div>
            @Html.ValidationMessageFor(model => model.ImageFiles, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Thời gian bắt đầu <span style="color: red">*</span>
                </span>
                <input asp-for=StartTime type="datetime-local" class="form-control">
            </div>
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Thời gian kết thúc <span style="color: red">*</span>
                </span>
                <input asp-for=EndTime type="datetime-local" class="form-control">
            </div>
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })


            <!--Display modal to confirm create when click button-->
            <div class="w-100 d-flex justify-content-center">
                <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#myModal">Tạo mới</button>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận tạo mới đấu giá</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Bạn có đồng ý tạo mới đấu giá?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
}
