@using RealEstateAuction.Enums
@model IEnumerable<RealEstateAuction.Models.Auction>
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewData["Title"] = "Quản lý đấu giá";
}
<h2>Quản lý đấu giá</h2>
<hr>
<div class="w-100 d-flex justify-content-end mb-3 mt-2">
    <a class="btn btn-success" href="/create-auction">Tạo mới</a>
</div>
<!-- display list auction -->
<table class="table mb-3">
    <thead>
        <tr>
            <th></th>
            <th>Tiêu đề</th>
            <th>Giá khởi điểm</th>
            <th>Giá kết thúc</th>
            <th>Thời gian bắt đầu</th>
            <th>Thời gian kết thúc</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>
            <th>Loại bất động sản</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <div class="d-flex justify-content-center">
                <p class="text-danger">Không có phiên đấu giá nào</p>
            </div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <!--Get the first image of auciton-->
                        <img src="@Url.Content(item.Images.ToList()[0].Url)" height="100" width="100">
                    </td>
                    <td>
                        @if (item.Title.Length > 20)
                        {
                            item.Title = item.Title.Substring(0, 20) + "...";
                        }

                        @item.Title
                    </td>
                    <td>@item.StartPrice.ToString("N1")đ</td>
                    <td>@item.EndPrice.ToString("N1")đ</td>
                    <td>@item.StartTime</td>
                    <td>@item.EndTime</td>
                    <td>
                        @if (item.Address.Length > 15)
                        {
                            item.Address = item.Address.Substring(0, 10) + "...";
                        }

                        @item.Address
                    </td>
                    <td>
                        @{
                            string statusName = Enum.GetName(typeof(AuctionStatus), item.Status);
                            statusName = statusName.Replace("_", " ");
                        }
                        @statusName
                    </td>
                    <td>
                        @foreach(var i in item.Categories)
                        {
                            <span class="text-center">@i.Name</span>
                        }
                    </td>
                    <td>
                        @if (item.Status == (int)AuctionStatus.Chờ_phê_duyệt)
                        {
                            <a href="/edit-auction?id=@item.Id" class="btn btn-warning">Cập nhật</a>
                            <a href="/delete-auction?id=@item.Id" class="btn btn-danger">Xóa</a>
                            <a href="/my-auction-details?id=@item.Id" class="btn btn-info">Xem</a>
                        }
                        else 
                        {
                            <a href="/list-participant?auctionId=@item.Id" class="btn btn-warning">Danh sách người đấu giá</a>
                            <a href="/list-joining?auctionId=@item.Id" class="btn btn-warning mt-2">Danh sách người tham gia</a>
                            <a href="/my-auction-details?id=@item.Id" class="btn btn-info mt-2">Xem</a>
                        }
                        
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- this is pagination of auctions -->
<div class="d-flex justify-content-center align-items-center mt-4">
    <!-- PAGINATION-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center justify-content-lg-end">
            @if (ViewBag.currentPage != 1)
            {
                <li class="page-item mx-1"><a class="page-link" href='/manage-auction?pageNumber=@(ViewBag.currentPage-1)' aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            }
            @for (var i = 1; i <= ViewBag.pageSize; i++)
            {
                @if (i == ViewBag.currentPage)
                {
                    <li class="page-item mx-1 active"><a class="page-link" href="#">@i</a></li>
                }
                else
                {
                    <li class="page-item mx-1"><a class="page-link" href='/manage-auction?pageNumber=@i'>@i</a></li>
                }
            }
            @if (ViewBag.currentPage < ViewBag.pageSize)
            {
                <li class="page-item ms-1"><a class="page-link" href='/manage-auction?pageNumber=@(ViewBag.currentPage+1)' aria-label="Next"><span aria-hidden="true">»</span></a></li>
            }
        </ul>
    </nav>
</div>
